* {
    margin: 0;
    padding: 0;
}

h1 {
    background-color: lightblue;
    margin: 0 50px;
    padding: 10px;
}

p {
    background-color: lightgreen;
    border: 3px groove lightcoral;
}


/* Class Selectors */

.absolute-width {
    width: 300px;
}

.center {
    margin: 0 auto;
}